

# deps & builds
node_modules/
.next/
out/
dist/
coverage/

# env / secrets
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# runtime data (optional)
uploads/
